<div class="product">
      <div class="product-body">
        <h5 class="product-title">{{this.title}}</h5>
        <img class="product-img" src="{{this.image.src}}" alt="product-img" width="300px" height="200px">
        <h6 class="product-body">{{this.body_html}}</h6>
        <h6 class="product-vendor">{{this.vendor}}</h6>
        <h6 class="product-type">{{this.product_type}}</h6>
        {{!-- <p class="product-price">{{this.variants[0].price}}</p>
        <p class="product-sku">{{this.variants[0].sku}}</p>
        <p class="product-inventory-quantity">Inventory qty: {{this.variants[0].inventory_quantity}}</p> --}}
      </div>
</div>